.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: white;
    padding: 5px;
   
}
.grid-item {
    background-color: white;
    border: solid red 1px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
#web-img {
    width: 120px;
    height: 150px;
    margin-top: 20px;
}
#seg-img {
    width: 120px;
    height: 150px;
}
#ing-img {
    width: 120px;
    height: 150px;
}
#fol-img {
    width: 100px;
    height: 100px;
}
#tut-img {
    width: 120px;
    height: 150px;
}
#red-img {
    width: 120px;
    height: 150px;
}
#web {
    grid-column: 3;
    grid-row: 2  / span 2;
}
#web2 {
    grid-column: 6;
    grid-row: 2  / span 2;
}
#web3 { 
    grid-column: 4;
    grid-row: 6  / span 2;
}
#seg {
    grid-column: 2;
    grid-row: 3  / span 2;
}
#seg2 {
    grid-column: 3;
    grid-row: 6  / span 2;
}
#fol {
    grid-column: 5;
    grid-row: 3  / span 2;
}
#red {
    grid-column: 2;
    grid-row: 6  / span 3;
}
#red2 {
    grid-column: 5;
    grid-row: 6  / span 3;
}
.pati {
    font-size: 30px;
    grid-column: 2 / span 5;
    grid-row: 5;
}
.guion {
    grid-column: 6;
    grid-row: 7  / span 2;
}