.caja {
    display: inline-block;
   width: 200px;
   height: 100px;
   margin: 1em;
   text-align: center;
   border:solid green 2px;

}
.verde {
    border:dashed green 2px;
    
}
.rojo {
    border: dashed red 2px;
}
.azul {
    border: dashed blue 2px;
}
#charmander {
    border: solid yellowgreen 4px;
}
#airbus {
    border: solid red 4px;
}