a:link {color: red;}
a:hover {color: green;text-decoration: none;}
a:visited {color: purple;}
a:active {color: lime;}
body {font-family: Verdana, Geneva, Tahoma, sans-serif;background-color: yellow;}
h1 {color: orange;text-align: center;font-size: 20px;}
li {font-size: 15px;}