.navegacion{
    margin: auto;
    width: 550px;
}
/*Configuracion UL*/
ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    background-color: green;
}
/*Horizontal a vertical*/
.menu > li {
    float: left;
}
/*ENTORNO MENU*/
.menu li a {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    display: block;
    text-align: center;
    min-width: 80px;
}
.menu li a:hover {
    color: orange;
}
/*Hace q el menu no este abierto forever*/
.menu li ul {
    display: none;
}
.menu li:hover > ul {
    display: block;
}